<link rel="stylesheet" href="/css/home.css" />
<!-- Main container -->
<% if(locals.user) {%>
<div class="main-container">
  <!-- Main container left side -->
  <div class="main-container-left">
    <!-- Add student form -->
    <div class="student-add-list-form">
      <label class="form-label">Add Student Form</label>
      <form method="post" action="/students/add" id="allocate-form">
        <div class="form-group">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="college"
            id="college"
            placeholder="College"
            required
          />
        </div>
        <div class="form-group">
          <select name="status" required>
            <option value="">Select Status</option>
            <option value="placed">Placed</option>
            <option value="not placed">Not Placed</option>
          </select>
        </div>
        <div class="form-group">
          <select name="batch" required>
            <option value="">Select Batch</option>
            <% for(batch of batches){ %>
            <option value="<%= batch._id %>"><%= batch.name %></option>
            <%}%>
          </select>
        </div>
        <div class="form-group">
            <% for(course of courses){ %>
              <input
              type="number"
              name="score[]"
              placeholder="<%= course.name %> Score"
              required
            />
            <%}%>
        </div>
        
        <input type="submit" id="add-student" value="Add Student" />
      </form>
    
      <form >
       
        <div >
        <table class="student-list" >
         
         
        </table>
      </form>
    </div>
    </div>
  </div>
  <!-- right part -->
  <div class="main-container-right">
    <!-- Add student form -->
    <div class="interview-add-list-form">
      <label class="form-label">Add Interview Form</label>
      <form method="post" action="/interviews/add">
        <div class="form-group">
          <input
            type="text"
            name="company_name"
            id="company_name"
            placeholder="Company Name"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="date"
            name="interview_date"
            id="interview_date"
            placeholder="Interview Date"
            required
          />
        </div>

        <input type="submit" id="add-interview" value="Add Interview" />
      </form>

      <!-- Interview List -->
      <form method="post" action="/interviews/allocate">
        <div style=" overflow: auto;height:150px">
        <table class="interview-list">
          <caption>
            Interview List
          </caption>
          <thead>
            <tr>
              <th>Company Name</th>
              <th>Interview Date</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(interview of interviews){ %>
            <tr>
              <td>
                <a href="/interviews/interview/<%=interview._id%>"
                  ><%=interview.company_name%></a
                >
              </td>
              <td>
                <%= moment(interview.interview_date).format( 'DD-MM-YYYY', )%>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      </form>
      Student List
      <form action="reports/export">
        <input type="submit" value="Export Data">
        <div style=" overflow: auto;height:auto">
        <table class="student-list" >
         
          <thead>
            <tr>
              <th>Email</th>
              <th>Name</th>
              <th>College</th>
              <th>Status</th>
              <th>DSA Score</th>
              <th>WebD Score</th>
              <th>React Score</th>
              <th>Interview date</th>
              <th>Interview Company</th>

              <th>Interview Result</th>


            </tr>
          </thead>
          <tbody>
            <% for(student of results){ %>
            <tr>
              <td><%=student.user.email%></td>
              <td><%=student.user.name%></td>
              <td><%=student.user.college%></td>
              <td><%=student.user.status%></td>
              <% for(data of student.user.course_scores){ %>
              <td><%=data.score%></td>
              <% } %>
              <td><%=moment(student.interview.interview_date).format( 'DD-MM-YYYY', )%></td>
              <td><%=student.interview.company_name%></td>
              <td><%=student.result%></td>
            </tr>
           
          </tbody>
          <% } %>
        </table>
      </form>
    </div>
    
  </div>
</div>

<% } %>
