<!-- Allocate Interview -->
<link rel="stylesheet" href="/css/interview.css" />
<div class="main-container">
  <div class="allocate">
    <label id="allocate-label"
      >Company Name: <%= interviews.company_name %>
    </label>
    <label id="allocate-label"
      >Interview Date:  <%=moment(interviews.interview_date).format( 'DD-MM-YYYY', )%>
    </label>
    <% if(!interviews) {%>
    <!-- <label> All Students Allocated</label> -->
    <% }else{ %>
    <form
      method="post"
      action="/interviews/allocate"
      style="height: 30px; padding: 10px; border: none"
    >
      <input type="hidden" name="interview" value="<%= interviews._id %>" />
      <select
        required
        name="student"
       
        id="student"
        style="padding: 10px; width: 250px"
      >
        <option value="">Select Student</option>
        <% for(student of students){ %>
        <%if(!interview.students.includes(student._id)) {%>
        <option value="<%= student._id %>"><%=student.name%></option>
        <% } %> <% } %>
      </select>
      <input
        type="submit"
        value="Allocate"
        style="padding: 8px; margin-left: 5px"
      />
    </form>
    <% } %>
    <!-- Student List -->
    <form method="post"    action="/interviews/result">
      <div style=" overflow: auto;height:600px;">
      <table class="student-list">
        <caption>
          Student List
        </caption>
        <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>College</th>
            <th>Status</th>
            <th>Interview Result</th>
          </tr>
        </thead>
        <tbody>
          <% let res; %>
          <% for(student of interview_students){res=null %>
          <tr>
            <td><%=student.email%></td>
            <td><%=student.name%></td>
            <td><%=student.college%></td>
            <% for(result of student.interviews_results){   res= result.result; %>
               
              <%} %>
            <td><%=student.status%></td>
            <td><%=res%></td>
            <td>
              <ul  >
                <li style="list-style-type: none;display:inline">
                  <select name="status"   >
                    <option value="">Select Status</option>
                    <option value="pass">PASS</option>
                    <option value="fail">FAIL</option>
                    <option value="onhold">On Hold</option>
                    <option value="notatmpt">Didn’t Attempt</option>
                  </select>
                </li>                
              </ul>
            </td>
            <td>
              <ul  >
                <li style="list-style-type: none;display:inline">
                  <input type="hidden" value="<%=student._id%>" name="student_id">
                  <input type="hidden" value="<%=interviews._id%>" name="interview_id">
                  <input type="submit" value="Submit">
                </li>                
              </ul>
            </td>
          </tr>

        </tbody>
        <% } %>
       
      </table>
    </form>
  </div>
</div>
